<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/lazy/crear">Pasos para crear</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ejemplos</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/lazy/consolas">Consolas</a></li>
        <li><a class="dropdown-item" routerLink="/lazy/computadoras">Computadoras</a></li>
      </ul>
    </li>
  </ul>