<ul class="nav nav-tabs">
    <!-- enlace home -->
    <li class="nav-item">
      <a class="nav-link " aria-current="page" routerLink="/home">home</a>
    </li>
        <!-- enlace cadenas -->
    <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="/cadenas">cadenas</a>
      </li>
        <!-- enlace cadenas -->
    <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="/lazy">Lazy modules</a>
    </li>
          <!-- enlace gint -->
      <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/git">Git</a>
      </li>
          <!-- enlace funciones -->
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/funciones">Funciones</a>
      </li>
  </ul>