<div>
    <h2 class="text-primary">Crear Validaciones</h2>    
</div>
<div>
    <hr>
    <h3 class="text-secondary">En archivos html</h3>
    <p>Se crea un formulario con sus campos</p>
</div>

<div>
    <h3 class="text-secondary">En archivos component.ts</h3>
    <div>
        <ul>
            <li>Crear una variable de tipo any</li>
            <li>En la seccion "OnInit" del código se manda a llamar la variable del formulario con su tipo de datos</li>            
            <li>En los datos del formulario poner sus validaciones y si son varios ponerlos en un array.</li>
            <li>A fuera del constructor mandar a llamar a los valores del formulario con un get y que retorne su valor</li>
        </ul>
    </div>
</div>

<div>
    <h3 class="text-secondary">En archivos css</h3>
    <div>
        <ul>
            <li>Crear una clase de tipo input.ng.invalid con un borde y color rojo para indicar que sea invalido</li>
            <li>Crear una clase de tipo input.ng.valid con un borde y color verde para indicar que sea valido</li>            
        </ul>
    </div>
</div>
