<h2 class="text-success">Pasos para crear una cadena</h2>
<div>
    <p>Cadena tipo texto/numérica</p>
    <ul>
        <li>Escribir en el componente el nombre de la cadena y su respectivo valor</li>
        <li>Escribir en el archivo HTMl el nombre de la cadena dentro de 2 llaves </li>
    </ul>
    <p>Cadena tipo arreglo</p>
    <ul>
        <li>Escribir en el componente el nombre de la cadena y su respectivo valor dentro de 2 corchetes </li>
        <li>Escribir en el archivo HTMl el nombre del arreglo dentro de 2 llaves </li>
    </ul>
</div>