<h2>Pasos para crear un "ngfor"</h2>

<div>
    
    <h3>Creación simple</h3>
    
    <ul>
        <li>Colocar una variable o array con sus valores en los archivos .ts</li>
        <li>Colocar en los archivos html: *ngFor="let variable of variables</li>
        <li>En ese elemento ngFor colocar ente 2 corchetes la variable para que esta se mueste</li>
        </ul>

    </div>

<div>

    <h3>Creación con una tabla y un array complejo</h3>

    <ul>
        <li>Se crea un array de tipo "any" en el archivo ".ts" con varios elementos</li>
        <li>Se crea una tabla en el archivos ".html" para ver los elementos del array</li>
        <li>En campo del cuerpo de la tabla en la sección de "tr" colocar la siguiente sentencia: *ngFor="let coche of coches; index as i" </li>
        <li>En campo del cuerpo de la tabla en la sección de "th" colocar entre 2 llaves la "i + 1"</li>
        <li>En los campos de "td" colocar entre 2 llaves: variable.tipo</li>
    </ul>

</div>