<h1 class="text-secondary">Códigos de Git</h1>

<div>
    <h2 class="text-success">Códigos para guardar un git</h2>
    <ul>
        <li>git init: Sirve para crear el repositorio</li>
        <li>git add .: Sirve para añadir los documestos credados en el repositorio</li>
        <li>git commit -m: Sirve para guardar los cambios con el título </li>
        <li>Git push origin master: Sirve para mandar el commit al repositorio online</li>
    </ul>
</div>

<div>
    <h2 class="text-danger">Código para recuperar commits</h2>
    <ul>
        <li>Git restore –-hard: Restaura el commit</li>
    </ul>
</div>